html {
	background:url(../Images/bg2.jpg) center center no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.other-html {
	background:url(../Images/bg3.png) center center no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.login-html {
	background:url(../Images/bg.jpg) center center no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
#login-body {
	height:100vh; 
	background:rgba(0, 0 , 0, 0.8);
	padding:0;
	margin:0;
}
#edit-body {
	height:100vh;
	padding:0;
	margin:0;
	background:#202020;
}
#del-body {
	height:100vh;
	background:white;
	padding:0;
	margin:0;
}
body {
	background:none;
	margin:0;
	padding:50px 0 0 0;
}
textarea {
	resize:none;
}
.filter-table .quick {
	margin-left: 0.5em;
	font-size: 0.8em;
	text-decoration: none;
}

.filter-table .quick:hover {
	text-decoration: underline;
}
td.alt {
	background-color: #ececec;
}
button .fa {
	margin-left: 7px;
}
li .fa {
	margin-right: 10px;
}
td button, td button:active, td button:visited, td button:focus, td button.focus {
	background:transparent;
	border:none;
	margin:0;
	padding:0;
}
.asterisk {
	margin-left: 5px;
}
.asterisk, .price {
	color:red;
}
.table-mobile {
    display:none;
}
strong {
	color:red;
}
header {
	height:100vh;
	width:100%;
	padding:0;
	margin:0;
	background:rgba(0, 0 , 0, 0.2);
}
.header-content {
	position:relative;
	transform:translateY(-50%);
	top:50%;
	text-align:center;
}
.header-content a {
	color:#f0ed08;
    font-size:2.5rem;
}
header img {
	margin:0 auto;
	padding:0;
}
.header {
	height:50vh;
	padding:0;
	background:rgba(0, 0 , 0, 0.2);
}
/* --- Navbar Begins --- */
.navbar {
   -webkit-backface-visibility: hidden;
    margin-bottom: 0;
	border:none;
	border-radius:0;
	z-index:9998;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}
.navbar-inverse {
	border:none;
}
.navbar-inverse .navbar-nav>li {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.6rem;
	padding: 20px 30px;
	color:#f0ed08;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:visited, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active  {
	color:#f0ed08;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.navbar-inverse .navbar-nav>li:hover {
	background:black;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background:none;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color:#f0ed08;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-inverse .navbar-toggle {
	border:none;
	color:#f0ed08;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background:#f0ed08;
}
.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
	background:transparent !important;
}
.navbar-inverse .navbar-text {
	color:#f0ed08;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.6rem;
	margin-left: 25px;
}
/* --- Navbar Ends --- */

/* --- Homepage begins --- */
.introduction {
	background: white;
	padding: 60px 0 0 0;
	color: #202020;
}
.content {
	background: white;
	padding: 60px 0;
	color: #202020;
}
.introduction h2, .content h2, .contact h2 {
    font-size: 5rem;
	margin: 0 0 30px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.introduction h3, .content h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.9rem;
	font-weight: normal;
	margin-bottom: 15px;
}
.introduction h4, .content h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
	font-weight: normal;
}
.content h6, .profile-2 h6, .profile-1 h2 {
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}
.content h6 .fa {
	margin-right: 10px;
}
.introduction p, .introduction li, .profile-1 p, .content p {
	margin-top: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
}
h2 a {
	color:black;
}
.nextsection {
	padding: 0 0 50px 0;
	background:white;
}
.marquee {
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	width: 60%;
	text-align:center;
}
.nowrap {
    white-space: nowrap ;
}
.nextsection .first {
	margin: 0 0 0 12.5%;
}
.category {
	height: 200px;
	padding: 0;
	color: #202020;
}
.category .icon {
	margin: 50px auto 0 auto;
	height: 55px;
	width: 55px;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #202020;
	text-align: center;
}
.category .icon .fa {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3rem;

}
.category h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}
.category p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	text-align:center;
}
/* --- Homepage Ends --- */

/* --- Login page Begins --- */
.login-form {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 30%;
	background: #202020;
	padding: 40px;
	margin: 0 auto;
	-webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.75);
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.login-form h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 4.5rem;
	font-weight: bold;
	color: #f0ed08;
	text-align: center;
	margin-bottom: 40px;
}
.login-form input {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7rem;
	margin-bottom: 20px;
	border-radius: 30px;
	background: #1b1b1b;
	border: none;
	color: #f0ed08;
	height: 60px;
	-webkit-box-shadow: inset 1px 1px 8px 0 rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 1px 1px 8px 0 rgba(0, 0, 0, 0.75);
	box-shadow: inset 1px 1px 8px 0 rgba(0, 0, 0, 0.75);
	padding-left: 30px;
}
.login-form ::-webkit-input-placeholder {
	color: #f0ed08;
}
.login-form ::-moz-placeholder {
	color: #f0ed08;
}
.login-form :-ms-input-placeholder {
	color: #f0ed08;
}
.login-form :-moz-placeholder {
	color: #f0ed08;
}
.login-form input:active, .login-form input:focus, .login-form input.focus {
	outline:none !important;
}
.login-form button {
	height: 60px;
	width: 100%;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	color: #f0ed08;
	border-radius: 30px;
	background: #1b1b1b;
	-webkit-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.75);
}
.login-form p {
	width: 100%;
	margin: 40px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7rem;
	text-align:center;
}
.login-form a {
	color: #f0ed08;
}
/* --- Login page Ends --- */

/* --- Prices page Begins --- */
.content table {
	margin: 30px 0;
}
.table th {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
}
.table td {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
}
.table-bordered td, .table-bordered th{
    border-color: #ddd !important;
}
.price-link {
	width: 210px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.7rem;
	text-align: center;
	padding: 10px 25px 10px 15px;
	border: 1px solid #ddd;
	margin-bottom: 5px;
	border-radius: 3px;
	color: #333;
}
/* --- Prices page Ends --- */

/* --- Contact page begins --- */
.contact {
	background:white;
	padding:50px 0;
}
.contact h2 {
	text-align: center;
}
.contact form input[type=text], .contact form input[type=password], .contact form input[type=email] {
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	height: 45px;
	box-shadow: none;
}
.contact textarea {
	border-radius:0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	box-shadow: none;
	padding-top: 10px;
}
label {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	font-weight: 300;
	margin-bottom: 15px;
}
/* --- Contact Page Ends --- */

/* --- Driving pages Begin --- */
#theory-content, #practical-content, #admin-content, #discounts-content, #profile-content {
	margin-top: 25px;
}
#theory-content button, #practical-content button, #admin-content button, .calendar-toggle, #discounts-content button, #profile-content .profile {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.7rem;
	text-align: center;
	padding: 8px 25px 8px 15px;
	border: 1px solid #ddd;
	margin-bottom: 5px;
	background: white;
	box-shadow: none;
	color: #333;
}
#theory-content button.active, #practical-content button.active, #admin-content button.active, #discounts-content button.active, #profile-content .profile.active {
	background: #f1f1f1;
	box-shadow: none;
	outline: none;
}
#theory-content button .fa, #practical-content button .fa, #admin-content button .fa, .calendar-toggle .fa, #discounts-content button .fa, #profile-content .profile .fa {
	margin-right: 8px;
}
#practical-content .question {
	cursor: pointer;
	padding: 15px 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-top: 10px;
}
#practical-content .question:nth-last-child(17) {
	margin-top: 25px;
}
#practical-content .question p {
	display: none;
	font-size: 1.5rem;
}
#practical-content .question.active {
	background: #f7f7f7;
}
#practical-content .question.active p {
	display: block;
}
#practical-content h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	font-weight: bold;
}
.jumbotron {
	border: none;
	padding: 20px 10px;
	color: white;
}
.jumbotron .price, .jumbotron strong {
	color: white;
}
.jumbotron.bronze {
	margin-top: 30px;
	background: #CD7F32;
}
.jumbotron.silver {
	background: #B6B3BA;
}
.jumbotron.gold {
	background: #E6CE6A;
}
.jumbotron button {
	border: none !important;
}
.content ul {
	margin-left: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
	list-style-type: none;
}
.content li  {
	margin:0;
}
/* --- Driving pages end --- */

/* --- Profile page begins --- */
.profile-1 {
	background:white;
	padding:50px 0 0 0;
}
.profile-2 {
	background:white;
	padding:0 0 50px 0;
}
.profile-1 h1 {
	margin-top:1%;
	font-family: 'Roboto', sans-serif;
	font-size: 4rem;
}
.profile-2 a {
	color:#588ed3;
}
#posts h6, #information h3, #lessons h3, #videos h3 {
	margin-top:1%;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
}
.slogan {
	font-style:italic;
}
.slogan:before, .slogan:after {
	content:"\00022";
}
.new-post {
	padding:0.5% 0;
}
.new-post form {
	margin-top:1.5%;
}
.new-post form textarea {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.7rem;
	border-radius: 0;
}
#post-message {
	width:100%;
	margin:0;
	border-radius:0;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:1.7rem;
	box-shadow:none;
}
.new-post button[type=submit] {
	margin-top:0.5%;
	padding:5px 35px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7rem;
	border-radius:0;
}
.new-reply form textarea {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
	border-radius: 0;
	box-shadow: none;
}
.user-post {
	width:100%;
	float:left;
	margin-top:1%;
	padding:0.5%;
	border-bottom:1px dashed #ddd;
}
.user-details {
	width:100%;
	float:left;
	padding:0;
}
.user-details img {
	float:left;
	margin:0 1% 1% 0;
	padding:3px;
	background:white;
	border:1px solid #ddd;
}
.user-details h2 {
	padding:0;
	margin:2% 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size:2rem;
	font-weight:bold;    
}
.datetime {
	font-family: 'Open Sans', sans-serif;
	font-size:1.4rem;
	color:#8e8e8e;
}
.user-message p {
	width:87%;
	margin:0;
	text-align:justify;
	font-size:1.6rem;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
.d-button {
	clear: both;
	float: right;
	margin: 10px 150px 0 0;
	background: transparent;
	border: none;
	color: #157df2;
	font-size:1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;

}
.user-replies {
	float:left;
	margin:1% 0 0 12.5%;
	width:75%;
	padding:0.5%;
}
.user-reply {
	margin:3% 0 0 0;
}
.reply-details {
	width:100%;
	float:left;
	padding:0;	
}
.reply-details img {
	float:left;
	margin:0 1% 1% 0;
	padding:3px;
	background:white;
	border:1px solid #ddd;
}
.reply-details h4 {
	display: block;
	width: 100%;
	padding: 0;
	float: none;
	margin: 18px 0 0 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	font-weight: bold;
}
.r-datetime {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: #8e8e8e;
}
.reply-message p {
	margin: 0;
	font-size: 1.3rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.new-reply {
	margin-top:2%;
}
#reply-message {
	width:100%;
	margin:0;
	border-radius:0;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.4rem;
	box-shadow:none;
}
.new-reply button[type=submit] {
	margin-top:0.5%;
	padding:5px 35px;
	font-family: 'Lato', sans-serif;
	font-size:1.4rem;
	border-radius:0;
}

.about-details {
	float:left;
	width:100%;
	padding:1% 0;
}
.about-detail {
	padding:0;
}
p.about-title {
	width:12.5%;
	display:inline-block;
	font-family: 'Lato', sans-serif;
	font-size:1.6rem;
	font-weight:bold;
}
p.about-content {
	width:20%;
	display:inline-block;
	text-align:left;
	font-family: 'Lato', sans-serif;
	font-size:1.6rem;
	font-weight:300;
	margin:0;
}
#information #edit-self {
	margin:0;
	padding:7px 40px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.6rem;
}
#lessons table {
	margin:3% 0;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.6rem;
}
.table-striped th {
	font-family: 'Montserrat', sans-serif;
	font-size:2rem;
	font-weight:normal;		
}
.table-striped td, .table-striped th{
    border-color: black !important;
}
.outdated {
	text-decoration:line-through;
}
.videos {
	margin-top:2%;
}
.embed-responsive {
	margin:0 0 2% 0;
}
p.comment {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.6rem;	
	margin-bottom:5%;
}
/* Profile edit overlay */
#overlay, #overlay-b, #overlay-b2, #overlay-u, #overlay-u2, #overlay-v, #overlay-v2, #overlay-dm {
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	padding:0;
	margin:0 auto;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
}
#overlay-b h2, #overlay-u h2, #overlay-v h2, #calendar h2 {
	text-align:center;
}
.form-container {
	width: 550px;
	position: relative;
	z-index: 9999;
	top: 50%;
	transform:translateY(-50%);
	margin:0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
	padding:10px;
}
.close-window {
	background:#e84a4a;
	color:white;
	border:1px solid #b33030;
	padding:5px 20px;
}
#overlay button[type=submit], #overlay-b button[type=submit], #overlay-u button[type=submit], #overlay-u2 button[type=submit], #overlay-v button[type=submit], #overlay-v2 button[type=submit], #overlay-b2 button[type=submit] {
	margin: 0 auto;
	padding: 10px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7rem;
	border-radius:0;
}
#overlay-b button[type=submit], #overlay-u button[type=submit], #overlay-v button[type=submit] {
	width: 100%;
	height: 45px;
}

/* --- Profile page ends --- */

/* --- Admin page begins --- */
.admin {
	background: white;
	padding: 50px 0;
}
.admin h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 4.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}
.admin h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 20px;
}
.admin .filter-table {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
}
input[type=search] {
	border: 1px solid #ddd;
	box-shadow: none;
	outline: none;
	padding: 2px 5px;
	margin-left: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
	height: 30px;
}
thead, tbody {
	border: none;
}
.admin td .fa {
	font-size:2rem;
}
.admin form input[type=text], .admin form input[type=password], .admin form input[type=email], #overlay form input, .admin form select, .edit-form input, .edit-form select {
	border-radius:0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	height: 45px;
	box-shadow: none;
}
.admin form button[type=submit], .contact form button {
	margin-top: 10px;
	padding: 12px 55px;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5rem;
	border-radius: 0;
}
.del-form {
	padding:15px;
}
.del-form p {
	text-align: center !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7rem;
	margin: 0 0 20px 0;
	padding: 0;
	font-weight:300;
}
.del-buttons {
	margin:0 0 0 25%;
}
.del-buttons .btn-primary {
	margin: 0 auto;
	padding: 10px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7rem;
	border-radius:0;
}
/* --- Admin page ends --- */

/* --- Footer Begins --- */
footer {
	width: 100%;
	padding: 15px 0 0 0;
	background: #202020;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
}
footer .links {
	margin: 0;
	list-style-type: none;
    padding: 0;
	text-align: center;
}
footer .links li {
	color: #f0ed08;
	padding: 2px 0;
}
footer .links .l-title {
	display: block;
	margin: 15px 0;
	font-weight: bold;
	font-size: 1.9rem;
	color: #f0ed08;
	padding: 0;
}
footer .links li a {
	color: #f0ed08;
	padding: 2px 0;
}
footer .links .fa {
	width: 15px;
}
footer a:hover {
	color:#f0ed08;
}
.head {
	font-weight:bold;
	font-size:1.9rem;
	text-transform:uppercase;
	color:#f0ed08;
}
footer  a, footer a:visited, footer a:active, footer a:focus, footer a:hover {
	color: #f0ed08;
}
.wwb {
	margin-top: 30px;
	font-size: 1.3rem;
	text-align: center;
	color: #f0ed08;
	background: black;
	padding: 5px 0;
}
.wwb ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.wwb ul li {
	display:inline-block;
	padding: 0 6px;
}
.no-gutter {
	padding-left: 0;
	padding-right: 0;
}
/* --- Footer Ends --- */
@media all and (max-width:1375px) {
	.login-form {
		width:40%;
	}
}
@media all and (max-width:1024px) {
	.login-form {
		width:55%;
	}
	.navbar-inverse .navbar-nav>li {
		padding: 20px 14px;
	}
	.nextsection {
		padding-top: 50px;
	}
	.nextsection .first {
		margin-left: 0;
	}
	.category .icon {
		margin-top: 0;
	}
}
@media all and (max-width:769px) {

	.navbar-inverse .navbar-nav>li:hover {
		background:none;
	}
	.login-form {
		width:67.5%;
	}
	.user-details h2 {
		margin:3.5% 0 0 0;  
	}
	.introduction h2, .content h2, .contact h2, .introduction h3, .content h3, .introduction h4, .content h4, .admin h1, .admin h2 {
		text-align: center;
	}

	.introduction p, .introduction li, .profile-1 p, .content p, .admin p {
		text-align: center;
	}
	.navbar-inverse .navbar-nav>li {
		text-align: left;
		width: 100%;
		padding: 15px 0 15px 25px;
	}
	.navbar-inverse .navbar-nav>li>a .fa{
		width: 20px;
	}
	.navbar .navbar-nav {
		width: 100%;
		padding: 0;
		display: block;
		float: left;
		vertical-align: top;
	}
}
@media all and (max-width:667px) {
	.header-content {
		transform:translateY(-40%);
		top:40%;
	}
	header img {
		width:60%;
	}
}
@media all and (max-width:414px) {
	.header-content {
		transform:translateY(-50%);
		top:50%;
	}
	header img {
		width:100%;
	}
	.user-details h2 {
        margin: 6% 0 0 0;
    }
    .admin form button, .contact form button {
        width: 100%;
    }
    .table-responsive {
        display:none;
    }
    .table-mobile {
        display:block;
        text-align:center;
    }
    .table-mobile th {
        text-align:center;
    }
	.login-form {
		padding: 15px;
		height: 100%;
		width: 100%;
		box-shadow:none;
		border-radius: 0;
	}
	.login-form h2 {
		margin-top: 150px;
	}
	#theory-content button, #practical-content button, #admin-content button, .calendar-toggle, #profile-content .profile, #discounts-content button {
		width: 75%;
		margin-left: 12.5%;
	}
}
@media all and (max-width: 375px) {
	.login-form h2 {
		margin-top: 110px;
	}
	#theory-content button, #practical-content button, #admin-content button, .calendar-toggle, #profile-content .profile, #discounts-content button  {
		width: 100%;
		margin-left: 0;
	}
}
@media all and (max-width:320px) {
	.user-details h2 {
		margin:9% 0 0 0;  
	}
	.datetime {
		margin-top:1.75%;
	}

}
@media all and (max-height:568px) {
	.login-form h2 {
		margin-top: 70px;
	}

}
@media all and (max-height:480px) {
	.login-form h2 {
		margin-top: 30px;
	}
}