html {
	height: 100%;
	box-sizing: border-box;
	background:url(../Images/bg2.jpg) center center no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.login-html {
	background:url(../Images/bg.jpg) center center no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
#login-body {
	height:100vh; 
	background:rgba(0, 0 , 0, 0.6);
}
body {
	background:none;
	margin:0;
	padding:0 0 250px 0;
	position: relative;
	min-height: 100%;
}
textarea {
	resize:none;
}
.affix + .container-fluid {
	padding-top: 70px;
 }
.affix {
	top: 0;
	width: 100%;
}
.header {
	height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
	width:100%;
	padding:0;
	margin:0;
	background:rgba(0, 0 , 0, 0.2);
}
.header img {
    vertical-align:middle; /*middle centred*/
    display:table-cell; /*acts like a table cell*/
	margin:0 auto;
}

/* --- Navbar Begins --- */
.navbar {
    margin-bottom: 0;
	border:none;
	border-radius:0;
	z-index:9999;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.navbar .navbar-brand {
	color:white;
	margin:5px 0;
}
.navbar-inverse {
	border:none;
	font-family: 'Lato', sans-serif;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:visited, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active  {
	color:#f0ed08;
	font-size:1.7rem;
	margin:5px 15px;
}
.navbar-inverse .navbar-nav>li:hover {
	background:black;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background:none;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color:white;	
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-inverse .navbar-toggle {
	border:none;
	color:white;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background:white;
}
.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
	background:transparent !important;
}
.login {
	margin:0;
	color:#f0ed08;
	font-size:1.7rem;
	line-height:60px;
	padding:0 20px;
}
.login:hover {
	text-decoration:none;
	color:#f0ed08;
	background:black;
}
/* --- Navbar Ends --- */

/* --- Homepage begins --- */
.introduction {
	background:white;
	padding:3% 0;
	color:black;
}
.introduction h1 {
	margin-top:0;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}
.introduction p, .introduction li {
	margin-top:1.5%;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.6rem;
	text-align:justify;
}
.introduction a {
	color:#0d3f83;
}
.nextsection {
	padding:0 0 3% 0;
	background:white;
}
.category {
	padding:0;
	color:black;
}
.category h2 {
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:2.4rem;
	font-weight:normal;
}
.category p {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.7rem;
	text-align:center;
}
/* --- Homepage Ends --- */

/* --- Login page Begins --- */
.login-form {
	position:relative;
	top:50%;
	transform:transformY(-50%);
	width:30%;
	background:white;
	padding:2%;
	margin:0 auto;
}
.login-form h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:4.5rem;
	font-weight:normal;	
	text-align:center;
	margin:0 0 2% 0;
	padding-bottom:2%;
	border-bottom:1px solid #ccc;
}
.login-form label {
	font-family: 'Montserrat', sans-serif;
	font-size:2rem;
	font-weight:normal;	
}
.login-form input {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.7rem;
	margin:0;
	border-radius:0;
	border:none;
	box-shadow:none;
	border-bottom:1px solid #ccc;
	outline:none;
}
.login-form input:focus {
	box-shadow:none;
	border-bottom:1px solid #ccc;
}
.login-form .btn {
	width:100%;
	background:#202020;
	padding:1.5% 0;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.8rem;
}
/* --- Login page Ends --- */

/* --- Prices page Begins --- */
table {
	margin:3% 0;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.6rem;
}
.table-bordered th {
	font-family: 'Montserrat', sans-serif;
	font-size:2rem;
	font-weight:normal;		
}
.table-bordered td, .table-bordered th{
    border-color: black !important;
}
.price-link {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.6rem;	
}
/* --- Prices page Ends --- */
.contact {
	background:white;
	padding:3% 0;
}
.contact form {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.6rem;
}
.contact form input, .contact form textarea {
	border-radius:0;
	font-family: inherit;
	font-weight:inherit;
	font-size:inherit;
}
.contact form input {
	padding:2%;
}
.contact form label {
	font-family: 'Montserrat', sans-serif;
	font-size:1.8rem;
	font-weight:normal;
}
/* --- Contact Page Ends --- */
.introduction h3 {
	font-family: 'Montserrat', sans-serif;
	font-size:2rem;
	font-weight:normal;	
	margin-bottom:2%;
}
.introduction h4 {
	font-family: 'Montserrat', sans-serif;
	font-size:1.7rem;
	font-weight:normal;	
}
.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
	font-family: 'Montserrat', sans-serif;
	font-size:1.5rem;
	font-weight:normal;
}
.introduction li  {
	margin:0;
}
.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons';
    content: "\276F";
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.panel-heading [data-toggle="collapse"].collapsed:after {

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
	color:black;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a:hover {
	text-decoration:none;
}
.accordion-toggle {
	font-size:1.45rem;
}
.panel{
	margin-top:1% !important;
	border-radius:0 !important;
}
.panel .panel-body {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.5rem;	
}

/* --- Course --- */
.bronze, .silver, .gold {
	display:block;
	width:15%;
	padding:0.7% 0;
	margin-bottom:0.7%;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:1.6rem;
}
.bronze, .bronze:active, .bronze:focus {
	background:#CD7F32;
	border-color:#a55608;
	outline:none;
}
.bronze:hover {
	background:#a55608;
	border-color:#5d3c1c;
}
.silver, .silver:active, .silver:focus {
	background:#c0c0c0;
	border-color:#808080;
	outline:none;
}
.silver:hover {
	background:#808080;
	border-color:#494949;
}
.gold, .gold:active, .gold:focus {
	background:#FFD700;
	border-color:#af9405;
	outline:none;
}
.gold:hover {
	background:#af9405;
	border-color:#66580c;
}
/* --- Footer Begins --- */
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height:250px;
	width:100%;
	padding:25px 0;
	background:#202020;
	font-family: 'Lato', sans-serif;
}
footer ul {
	margin:0;
	list-style-type:none;
	font-size:1.6rem;
}
.head {
	font-weight:bold;
	font-size:1.9rem;
	text-transform:uppercase;
	color:#f0ed08;
}
footer .glyphicon {
	margin-right:2%;
}
footer ul li a {
	color:#f0ed08;
	font-weight:300;
}
footer ul li a:hover, footer ul li a:active, footer ul li a:focus {
	color:#f0ed08;
}
footer p {
	width:100%;
	font-size:1.5rem;
	padding:0;
	margin:0;
	color:#f0ed08;
	font-weight:300;
}
.call {
	width:100%;
	color:#f0ed08;
	margin:0;
}
/* --- Footer Ends --- */
@media all and (max-width:991px) {
}
@media all and (max-width:768px) {
	.navbar-inverse .navbar-nav>li:hover {
		background:none;
	}
	.login-form {
		width:50%;
	}
	footer {
		height:700px;
	}
	body {
		padding-bottom:700px;
	}
}
